//== XF Header style, used on page template

header.experiencefragment {
  @apply w-full;

  .cmp-container {
    .aem-Grid {
      @apply flex flex-wrap items-center justify-between;

      &:before,
      &:after {
        content: unset;
      }
    }
  }

  @screen md {
    @apply w-full;
    padding-top: 18vw;
  }

  .image {
    img {
      @apply max-w-none relative p-2 mb-3;

      left: -1.25rem;
      width: 100vw !important;

      @screen md {
        @apply absolute top-0 left-0 p-5 m-0;
      }
    }
  }
}
