.accordion {
  @apply mt-component-spacing;

  .cmp-accordion__item {
    @apply bg-gray-4 mb-2;

    &:last-child {
      @apply mb-0;
    }

    .cmp-accordion__header {
      @apply text-gray-1 px-8 py-3 font-semibold;

      &:hover {
        @apply text-primary;
      }

      .cmp-accordion__button {
        @apply flex items-center;

        &:focus {
          outline: none;
        }

        &::before {
          @apply inline-block mr-3 transform rotate-90 bg-center bg-no-repeat bg-contain;

          transition: 0.2s transform;
          content: '';
          width: 15px;
          height: 20px;
          background-image: url('./resources/images/sicherearbeit-arrow-gray.svg');
        }

        &--expanded {
          @apply text-primary;

          &::before {
            @apply -rotate-90;
          }
        }
      }
    }

    .cmp-accordion__panel {
      @apply px-5 pb-6 bg-white;
      // set a not visible padding top to also set the background color for the margin top of the containing component
      padding-top: 0.05px;
    }
  }
}
