.accordion {
  @apply mt-component-spacing-small shadow-component bg-white;

  .cmp-accordion__item {
    .cmp-accordion__header {
      @apply font-headline text-s text-gray-1 px-8 py-6 font-semibold;

      &:hover {
        @apply text-primary;
      }

      .cmp-accordion__button {
        &:focus {
          outline: none;
        }

        &::before {
          @apply inline-block mr-2 bg-center bg-no-repeat bg-contain;
          transition: 0.2s transform;
          content: '';
          width: 7px;
          height: 13px;
          background-image: url('./resources/images/younion-arrow-gray.svg');
        }

        &--expanded {
          @apply text-primary;

          &::before {
            @apply transform rotate-90;
          }
        }
      }
    }

    .cmp-accordion__panel {
      @apply px-5 pb-6 bg-white;
      // set a not visible padding top to also set the background color for the margin top of the containing component
      padding-top: 0.05px;
    }
  }
}
