.linklist {
  @apply mt-component-spacing w-full p-8;

  background: #f5f8fa;

  .ex-linklist_title {
    @apply text-gray-0 text-l relative flex items-center pl-12 font-semibold leading-5 uppercase;

    &::before {
      @apply absolute left-0 bg-center bg-no-repeat bg-contain;

      content: '';
      height: 3rem;
      width: 2rem;
      background-image: url('./resources/images/sicherearbeit-icon-link-list-title.svg');

      @screen md {
        @apply mr-8;
      }
    }
  }

  .ex-linklist_elements {
    @apply flex flex-col pb-0 pl-0 mt-4 mb-0 ml-0 list-none;

    @screen md {
      margin-left: 3.5rem;
    }

    .ex-linklist_element {
      @apply flex items-center justify-start flex-initial w-full py-2 pl-12 m-0;

      @screen md {
        @apply px-4;
      }

      a {
        @apply text-gray-1;

        &:hover {
          @apply text-primary;
        }
      }

      &::before {
        @apply block mr-4 bg-center bg-no-repeat bg-contain;

        content: '';
        width: 18px;
        height: 20px;
        background-image: url('./resources/images/sicherearbeit-icon-link-list-ele.svg');
      }
    }
  }
}
