//== XF Header style, used on page template
.pagelist.contentfragmentlist {
  @apply mt-6;

  @screen sm {
    .cmp-contentfragmentlist {
      @apply gap-y-2 grid;

      &.two-column {
        @apply grid-cols-2;

        grid-column-gap: 0.7rem;
      }

      &.three-column,
      &.four-column {
        grid-column-gap: 0.8rem;
      }

      &.three-column {
        @apply grid-cols-3;
      }

      &.four-column {
        @apply grid-cols-4;
      }
    }
  }

  .cmp-contentfragmentlist__item {
    @apply border-gray-12 self-stretch w-full h-full p-0 pb-8 border-b;

    &:last-child {
      @apply pb-0 mb-0 border-b-0;
    }
  }

  @screen sm {
    .cmp-contentfragmentlist__item {
      @apply pb-0 border-b-0;
    }
  }

  article.cmp-contentfragment {
    @apply mt-8;

    @screen sm {
      @apply mt-0;
    }

    .cmp-contentfragment__image img {
      @apply h-articlelist-image object-cover w-full;
    }
  }

  @screen sm {
    article.cmp-contentfragment .cmp-contentfragment__image img {
      @apply h-articlelist-image-m;
    }
  }

  @screen md {
    article.cmp-contentfragment .cmp-contentfragment__image img {
      @apply h-articlelist-image-l;
    }
  }

  .small .cmp-contentfragmentlist .cmp-contentfragment {

    &:last-child {
      @apply m-0;
    }

    .cmp-contentfragment__container {
      @apply flex flex-row;

      .cmp-contentfragment__url .cmp-image__image {
        @apply flex-grow object-cover;

        width: 108px;
        max-width: 108px;
        height: 108px;
      }

      .cmp-contentfragment__content {
        @apply flex flex-col;

        .cmp-contentfragment__topic {
          @apply flex flex-row items-center justify-end order-1;

          a {
            @apply text-s leading-100;
          }
        }

        .cmp-contentfragment__title {
          @apply text-default leading-5;
        }

        .cmp-contentfragment__previewText p {
          @apply text-s;
        }
      }
    }
  }
  @screen sm {
    .small {
      .cmp-contentfragmentlist {
        .cmp-contentfragment__container {
          @apply flex flex-row;

          .cmp-contentfragment__url .cmp-image__image {
            @apply flex-grow object-cover;

            width: 108px;
            max-width: 108px;
            height: 108px;
          }

          .cmp-contentfragment__content {
            @apply flex flex-col;

            .cmp-contentfragment__topic a {
              @apply leading-3;
            }
          }
        }
      }
    }
  }

  .cmp-contentfragment {
    @apply h-full;

    .cmp-contentfragment__container {
      @apply flex flex-col h-full;
    }
  }

  .cmp-contentfragment__content {
    @apply flex flex-col flex-1;

    .cmp-contentfragment__footer {
      @apply font-body text-hero-story-meta flex flex-row items-center justify-end order-1 mt-4 text-xs font-normal;

      @screen sm {
        @apply mt-5;
      }

      .cmp-contentfragment_article-date {
        @apply flex items-center;
      }

      .cmp-contentfragment_author {
        @apply text-hero-story-meta order-1 ml-2;
      }
    }

    .articlelist-meta-data {
      @apply font-headline text-primary block text-xs font-bold;

      > div {
        @apply hidden;
      }
    }
  }

  .cmp-contentfragment_topic {
    a {
      @apply font-menu text-xs font-bold leading-4;
    }
  }
}
