/**
 * Mailworx Styles
 */

.form-content {
  @apply mt-component-spacing text-left;

  .page {
    @apply w-full;

    @screen md {
      @apply w-1/2;
    }
  }

  .field {
    @apply my-3;

    &--bool {
      &--left {
        @apply flex flex-wrap;

        input {
          @apply mr-2;
        }

        .field__normal {
          @apply flex-grow flex-shrink-0;

          max-width: 4%;
        }

        .label {
          @apply flex-grow flex-shrink-0;

          flex-basis: 10px;
        }
      }
    }

    &__error {
      @apply inline-block w-full pl-2 mb-4 font-bold;

      color: #e74c3c;

      &__sign {
        color: #e74c3c;
      }
    }
  }
}
